* {
  margin: 0;
  padding: 0;
}
/* app container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% of the viewport height */
}
/* nav bar in every page */
.navbar {
  display: flex;
  background-color: black;
  color: white;
  height: 3rem;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
  /* margin-bottom: 3rem; */
}
/* remove the bullet in the ul and remain the color white of every link in the nav bar */
a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
ul {
  list-style-type: none;
}

/* container of every page in the app*/
.page-container {
  flex: 1;
  background-color: #f6f6f6;
}
